
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;

    /*Colors*/
    --first-color: #1589FF;
}